.app__header{
    background-color: var(--color-black);
}
.app__header-h1{
    font-family: var(--font-base);
    color: #fff;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.app__header-img img{
    width: 80%;
    
}
.app_wrapper_info{
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}